@media (min-width: 30em) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}
.row { border-spacing: 10px 0; }

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: #fafafa;
  color: #101010;
  font-size: 16px; font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
}
#wrapper {
  width: 1000px;
  margin: 1.5em auto;
  height: 100%;
  text-align: center;
  max-width: 100%;
}
table tr td {
  width: 33.3%;
  padding: 0 1em;
}
button {
  width: 100%;
}
#current-fonts {
  padding: 1em;
  background: #eee;
  border-radius: 4px;
  box-shadow: 0 1px 2px #ccc inset;
  margin: 1em 0;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
h1 {
  line-height: 3em;
}
h2 {
  line-height: 1.5em;
}
p {
  margin: 1em 0;
}